<div class="container">
  <app-menu-bar></app-menu-bar>
  <div class="home-container">
    <h1>Bienvenido a nuestro Sistema de Gestión Escolar</h1>
    <div class="features">
      <div class="feature">
        <i class="fas fa-school"></i>
        <h2>Explora Colegios</h2>
        <p>Descubre los colegios disponibles y sus programas educativos.</p>
      </div>
      <div class="feature">
        <i class="fas fa-book"></i>
        <h2>Descubre Cursos</h2>
        <p>Explora los cursos ofrecidos por cada colegio y sus detalles.</p>
      </div>
      <div class="feature">
        <i class="fas fa-users"></i>
        <h2>Alumnos Inscritos</h2>
        <p>Consulta la lista de alumnos inscritos en cada curso.</p>
      </div>
      <div class="feature">
        <i class="fas fa-file-upload"></i>
        <h2>Sube Archivos</h2>
        <p>Agrega nuevos alumnos a los cursos subiendo archivos de Excel.</p>
      </div>
    </div>
    <!-- <button class="explore-button" (click)="redirectToColegios()">Explorar Colegios</button> -->
  </div>
</div>