.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f0f0f0;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
  list-style-type: none;
  padding: 10px 20px;
  width: 100%;
  text-align: center;
}

.sidebar li {
  margin-bottom: 15px;
}

.sidebar a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: bold;
  transition: color 0.7s ease-in-out;
}

.sidebar a:hover {
  color: #ffcc00;
}
